<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="PositiveChromeTaxTest" enabled="false">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="Tax"/>
        </classes>
    </test>
    <test name="PositiveEdgeTaxTest">
        <parameter name="browser" value="edge"></parameter>
        <classes>
            <class name="Tax"/>
        </classes>
    </test>
    <test name="PositiveFirefoxTaxTest">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="Tax"/>
        </classes>
    </test>
</suite>